.nav-bar {
    display: flex;
    background-color: rgb(0, 21, 36);
    color: white;
    padding: 0px 0px 0px 0px;
    margin-top: -12px;
    margin-left: -10px;
    margin-right: -10px;
}

.menu {
    display: flex;
    gap: 3em;
    font-size: 18px;
    }

.menu li:hover {
    background-color: rgb(21, 97, 109);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 15px 14px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}
